<!-- importing the base.html -->
{%extends "base.html"%} {% block body %}
<!-- Creating a card to enter the data -->
<div class="container">
    <div class="d-flex  flex-wrap justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <div>
                    <h3>Recommender</h3>
                </div>
            </div>
            <div class="card-body">
                <form action="/" method="POST">
                    <label for="temperature">Temperature</label>
                    <div class="input-group form-group">

                        <input type="number" id="temperature" class="form-control" step="0.000001" name="temperature" placeholder="Temperature celsius" min="5" max="55" required>
                    </div>
                    <label for="humidity">Humidity</label>
                    <div class="input-group form-group">

                        <input type="number" class="form-control" step="0.000001" name="humidity" placeholder="Humidity percent" min="10" max="100" required>
                    </div>
                    <label for="ph">pH</label>
                    <div class="input-group form-group">

                        <input type="number" class="form-control" step="0.000001" name="ph" placeholder="pH" min="3" max="11" required>
                    </div>
                    <label for="rainfall">Rainfall</label>
                    <div class="input-group form-group">

                        <input type="number" class="form-control" step="0.000001" name="rainfall" placeholder="Rainfall mm" min="20" max="400" required>
                    </div>


                    <div class="form-group text-center">
                        <button type="submit " value="Predict" class="btn btn-dark button justify-content-center">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


{%endblock%}